<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:if="${getCode}">
    <form th:method="POST" th:action="@{/registration/sendcode}"  >
        <input type="text"   name="email" id="email"   />
        <input type="submit"  value="Отправить код повторно"/>
    </form>
</div>
<div th:if="${user}">
<form th:method="POST" th:action="@{/registration}" th:object="${user}">

    <input  type="hidden" name="needToUpdate" value="false"/>
    <label for="username" > Имя пользователя   </label>
<input type="text" th:field="*{username}" id="username" />
<br/>
    <label  for="password">Пароль</label>
    <input  type="text" th:field="*{password}" id="password" />
    <br/>
    <label for="fullname" >Ф.И.О. </label>
    <input  type="text" th:field="*{fullname}" id="fullname"/>
    <br/>
    <label for="email"> Адрес почты</label>
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <input type="submit"  value="Зарегистрировать"/>
</form>
</div>
</body>
</html>